.aboutSection {
    width: 100%;
    background-color: var(--beige);
    height: 100vh;
    padding: 100px 200px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aboutSection-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 30px 100px 30px;     
    border-top: 1px solid var(--dark-green);
}

.aboutSection-container p {
    margin-top: 5px;
}

.aboutSection-container ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

.aboutSection-container ul li {
    font-size: 1.3rem;
    color: var(--dark-green);
    font-family: 'Lato', sans-serif;
}

.aboutSection h2 {
    font-size: 4rem;
    margin: 0 0 15px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: var(--dark-green);
}

.aboutSection p {
    padding: 0;
    color: var(--dark-green);
    font-family: 'Lato', sans-serif;
}

@media (max-width: 1016px) {
    .aboutSection {
        padding: 0;
    }

    .aboutSection-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .aboutSection-about {
        width: 100%;
        height: 50%;
    }
    
    .aboutSection-tech {
        font-size: 1.3rem;
        width: 100%;
    }
}