.project {
    width: 90%;
    margin: 0 0 150px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.reverse {
    flex-direction: row-reverse;
}

.project-picture {
    width: 60%;
}

.project-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-about {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}

.project-about h3 {
    font-size: 3rem;
    margin: 20px 0 20px 0;
}

.project-about p {
    text-align: end;
    line-height: 25px;
    color: black;
    display: inline-block;
    width: 100%;
}

.project-about ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 90%;
    padding: 0;
}

.project-about-img__container {
    width: 35px;
}

.project-about-img__container img {
    width: 35px;
}

.reverse-about {
    align-items: flex-start;
}

.reverse-about p {
    text-align: start;
}

@media (max-width: 700px) {
    .project-picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .project-about {
        z-index: 9;
        width: 100%;
        background-color: var(--clear-beige);
        align-items: center;
        justify-content: center;
    }

    .project-about h3,
    .project-about p,
    .project-about ul,
    .project-about li,
    .project-about-img__container,
    .project-about-img__container img,
    .project-about a {
        background-color: rgba(255, 141, 141, 0);
    }

}