:root {
  --beige: #f4e6d4;
  --dark-green: #012622;
  --light-green: #5FAD56;
  --border-green: #09635a;
  --red: #D00000;
  --light-red: #ef8a8a;
  --border-red: #fc4646;

}

.App {
  text-align: center;
}